
<div *ngIf="successMessage" class="message success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="message error">
  {{ errorMessage }}
</div>
<div class="table-card">
  <!-- Add Make Button -->
   <button pButton icon="pi pi-check" class="p-button-success p-button-sm p-mr-2"  (click)="addRow()">Add Designation</button>
  <hr />

  <!-- Table Container -->
  <div class="table-container">
    <p-table [value]="designations" dataKey="id" scrollable="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Designation Name</th>
          <th>Department</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-designation let-i="rowIndex">
        <tr>
          <td>
           <mat-form-field *ngIf="designation.isNew || designation.isEditing" appearance="outline">
            <mat-label>Enter Designation Name</mat-label>
                <input matInput [(ngModel)]="designation.designationName" name="designation-{{ i }}" />
                </mat-form-field>
            <span *ngIf="!designation.isNew && !designation.isEditing">{{ designation.designationName }}</span>
          </td>
          <td>
               <mat-form-field appearance="outline" *ngIf="designation.isNew || designation.isEditing">
                    <mat-label>Department</mat-label>
                    <mat-select [(ngModel)]="designation.departmentId" name="department-{{i}}">
                        <mat-option *ngFor="let m of departments" [value]="m.id">{{ m.departmentName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                 <span *ngIf="!designation.isNew && !designation.isEditing">{{ designation.Department.departmentName}}</span>
          </td>
          <td>
            <!-- Save Button -->
                <div class="action-buttons">
                  <button *ngIf="designation.isNew || designation.isEditing" label="save" pButton icon="pi pi-check"  class="p-button-success p-button-sm p-mr-10"(click)="saveRow(designation, i)">
                  </button>
                  <button *ngIf="designation.isNew || designation.isEditing" pButton type="button" label="Cancel" (click)="cancelEdit(designation, i)" class="p-button-secondary"></button>
                  <!-- Delete Button -->
                  <button *ngIf="!designation.isEditing" pButton type="button" label="Edit" (click)="editRow(designation)" class="p-button-info"></button>
                  <button *ngIf="!designation.isEditing" pButton type="button" label="Delete" (click)="deleteRow(designation.id, i)" class="p-button-danger"></button>
                </div>   
            </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
            <tr>
                <td colspan="6">There are no designations</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <!-- Paginator -->
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
