
<div *ngIf="successMessage" class="message success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="message error">
  {{ errorMessage }}
</div>
<div class="table-card">
  <!-- Add Make Button -->
   <button pButton icon="pi pi-check" class="p-button-success p-button-sm p-mr-2"  (click)="addRow()">Add Model</button>
  <hr />

  <!-- Table Container -->
  <div class="table-container">
    <p-table [value]="models" dataKey="id" scrollable="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Model Name</th>
          <th>Make</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-model let-i="rowIndex">
        <tr>
          <td>
           <mat-form-field *ngIf="model.isNew || model.isEditing" appearance="outline">
            <mat-label>Enter Model Name</mat-label>
                <input matInput [(ngModel)]="model.modelName" name="make-{{ i }}" />
                </mat-form-field>
            <span *ngIf="!model.isNew && !model.isEditing">{{ model.modelName }}</span>
          </td>
          <td>
               <mat-form-field appearance="outline" *ngIf="model.isNew || model.isEditing">
                    <mat-label>Make</mat-label>
                    <mat-select [(ngModel)]="model.makeId" name="make-{{i}}">
                        <mat-option *ngFor="let m of makes" [value]="m.id">{{ m.makeName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                 <span *ngIf="!model.isNew && !model.isEditing">{{ model.Make.makeName }}</span>
          </td>
          <td>
            <!-- Save Button -->
                <div class="action-buttons">
                  <button *ngIf="model.isNew || model.isEditing" label="save" pButton icon="pi pi-check"  class="p-button-success p-button-sm p-mr-10"(click)="saveRow(model, i)">
                  </button>
                  <button *ngIf="model.isNew || model.isEditing" pButton type="button" label="Cancel" (click)="cancelEdit(model, i)" class="p-button-secondary"></button>
                  <!-- Delete Button -->
                  <button *ngIf="!model.isEditing" pButton type="button" label="Edit" (click)="editRow(model)" class="p-button-info"></button>
                  <button *ngIf="!model.isEditing" pButton type="button" label="Delete" (click)="deleteRow(model.id, i)" class="p-button-danger"></button>
                </div>   
            </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- Paginator -->
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
