<div *ngIf="successMessage" class="message success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="message error">
  {{ errorMessage }}
</div>
<div class="table-card">
  <!-- Add Make Button -->
  <button pButton icon="pi pi-check" class="p-button-success p-button-sm p-mr-2" (click)="addRow()">
    Add Roles
  </button>
  <hr />

  <!-- Table Container -->
  <div class="table-container">
    <p-table [value]="roles" dataKey="id" scrollable="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Role Name</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>
            <mat-form-field *ngIf="row.isNew || row.isEditing" appearance="outline">
              <mat-label>Enter Role Name</mat-label>
              <input matInput [(ngModel)]="row.name" name="role-{{ i }}" />
            </mat-form-field>
            <span *ngIf="!row.isNew && !row.isEditing">{{ row.name }}</span>
          </td>
          <td>
            <!-- Save Button -->
            <div class="action-buttons">
              <button
                *ngIf="row.isNew || row.isEditing"
                label="save"
                pButton
                icon="pi pi-check"
                class="p-button-success p-button-sm p-mr-10"
                (click)="saveRow(row, i)"
              ></button>
              <button
                *ngIf="row.isNew || row.isEditing"
                pButton
                type="button"
                label="Cancel"
                (click)="cancelEdit(row, i)"
                class="p-button-secondary"
              ></button>
              <!-- Delete Button -->
              <button
                *ngIf="!row.isEditing"
                pButton
                type="button"
                label="Edit"
                (click)="editRow(row)"
                class="p-button-info"
              ></button>
              <button
                *ngIf="!row.isEditing"
                pButton
                type="button"
                label="Delete"
                (click)="deleteRow(row.id, i)"
                class="p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- Paginator -->
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 30]"
  />
</div>
